@panel-height: 100px; // default 100px
@panel-width: 60px; // default 60px
@panel-text-size: 66px; // default 66px
@perspective: 160px; // default 160px

.clock {
  display: flex;
  flex-direction: row;
  user-select: none;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, rgba(0, 0, 0, 0.4));
}

.split {
  font-size: @panel-text-size;
  line-height: 0.85 * @panel-height;
  color: #000;
}

.flip {
  margin: 0 @panel-width / 20;
  width: @panel-width;
  height: @panel-height;
  border: 1px solid #000;
  border-radius: @panel-height / 10;
  box-shadow: 0 0 @panel-width / 10 rgba(0, 0, 0, 0.5);
  position: relative;
}

.down {
  .front::after,
  .back::before {
    z-index: 1;
  }
  .front::before {
    z-index: 3;
    transform-origin: 50% 100%;
    backface-visibility: hidden;
  }
  .back::after {
    z-index: 2;
    transform-origin: 50% 0%; // 设置旋转基点
    transform: perspective(@perspective) rotateX(180deg); // 设置透视和 3D 旋转
  }
}

.digital {
  color: #fff;
  font-size: @panel-text-size;
  text-align: center;
  &::before,
  &::after {
    content: '';
    background: #000;
    position: absolute;
    left: -0.5px;
    right: -0.5px;
    box-sizing: border-box;
    overflow: hidden;
  }
  &::before {
    top: 0;
    bottom: 50%;
    border-radius: @panel-height / 10 @panel-height / 10 0 0;
    border-bottom: 1px solid #666;
    line-height: @panel-height;
  }
  &::after {
    bottom: 0;
    top: 50%;
    border-radius: 0 0 @panel-height / 10 @panel-height / 10;
    line-height: 0;
  }
}

.start {
  .front::before {
    box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.3);
    animation: frontflipdown 0.5s cubic-bezier(0.25, 0.5, 0.75, 1) forwards;
  }
  .back::after {
    animation: backflipdown 0.5s cubic-bezier(0.25, 0.5, 0.75, 1) forwards;
  }
}

.generate-nums(@n, @i: 0) when (@i <= @n) {
  .num@{i} {
    &::before,
    &::after {
      content: '@{i}';
    }
  }
  .generate-nums(@n, (@i + 1));
}

.generate-nums(9);

@keyframes frontflipdown {
  0% {
    transform: perspective(@perspective) rotateX(0);
  }
  100% {
    transform: perspective(@perspective) rotateX(-180deg);
  }
}

@keyframes backflipdown {
  0% {
    transform: perspective(@perspective) rotateX(180deg);
  }
  100% {
    transform: perspective(@perspective) rotateX(0);
  }
}
