.sidebar {
  width: 80px;
  height: 100%;
  flex-direction: column;
  display: flex;
  background: rgba(0, 0, 255, 0.2);
}

.avatar-wrap {
  margin-top: 40px;
  flex: 1;
}

.btn-group-wrap {
  flex-direction: column;
}
