@font-face {
  font-family: Dosis;
  src: url('~@/assets/fonts/Dosis-Bold-5.ttf');
}

@font-face {
  font-family: ZiTiQuanXinYiGuanHeiTi;
  src: url('~@/assets/fonts/ZiTiQuanXinYiGuanHeiTi2.0-2.ttf');
}

body {
  font-family: Dosis, ZiTiQuanXinYiGuanHeiTi;
}

li {
  list-style: none;
}

:global {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-v-center {
    display: flex;
    align-items: center;
  }

  .flex-h-center {
    display: flex;
    justify-content: center;
  }

  .pointer {
    cursor: pointer;
  }

  .unselectable {
    user-select: none;
  }

  .ant-tooltip {
    user-select: none;
  }

  .iconfont {
    color: var(--primary-color-10);
    &:hover {
      color: var(--primary-color-8);
    }
  }

  .inner-input {
    padding: 3px 0;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
