@input-height: 26px;
@icon-size: 18px;

.input {
  background: rgba(255, 255, 255, .5);
  height: 60px;
}

.inputWrap {
  width: 100%;
  margin: 0 20px;
  padding: 0 40px;
  background: #fff;
  border: 1px solid rgba(208, 208, 208, .5);
  border-radius: 20px;
  position: relative;
}

.guest {
  color: #333;
  user-select: none;
  font-size: 14px;
  margin: 0;
}

.innerInput {
  width: inherit;
  height: @input-height;
}

.post {
  position: absolute;
  top: (@input-height - @icon-size) / 2;
  right: 15px;
  svg {
    width: @icon-size;
    height: @icon-size;
  }
}
